<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>PSchurch投影程式</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
    
    <key>NSLocalNetworkUsageDescription</key>
    <string>我們需要使用區域網路來同步 iPad 與 iPhone 的舞台提詞機畫面。</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_worship-sync._tcp</string>
        <string>_worship-sync._udp</string>
        <string>_worship-web._tcp</string>
    </array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.worshipprojection.package</string>
            <key>UTTypeDescription</key>
            <string>Worship Projection Package</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.json</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>worshippkg</string>
                </array>
                <key>public.mime-type</key>
                <string>application/vnd.worshipprojection.package+json</string>
            </dict>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Worship Projection Package</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.worshipprojection.package</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
